:root{
    --cor1: #00ff9c;
    --cor2: #1e1e1d;
    --cor3: #f5f5f5;
    --font1: "Nunito", sans-serif
}

main{
    font-family: var(--font1);
    background-color: var(--cor3);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

img{
    height: 400px;
}

form{
    width: 500px;
    padding: 0 20px;
    border-radius: 10px;
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form .cabecalho{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-bottom: 10px;
}

.error{
    display: none;
    margin-top: 3px;
    background-color: red;
    color: white;
    border-radius: 0 10px 10px 10px;
    padding: 3px;
}

.cabecalho h1{
    font-size: 35px;
}

hr{
   border: 1px solid var(--cor1);
   width: 170px;
   text-align: center;
   margin-bottom: 10px;
   border-radius: 5px;
}

.cabecalho p{
    margin: 10px 0 0 0;
    font-size: 25px;
}

.Email, .Password, .ConfirmPassword, .Usuario{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    font-weight: 600
}


label{
    font-size: 18px;
}

.Email input, .Password input, .ConfirmPassword input, .Usuario input{
    font-family: var(--font1);
    font-size: 16px;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    border: 2px solid var(--cor2);
}

.MostrarSenha{
    margin-top: 5px;
    display: flex;
    font-weight: 400;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button:active {
    opacity: 0.8;
}

button[disabled] {
    opacity: 0.8;
}

#LoginButton, #CadastroButton{
    font-family: var(--font1);
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: var(--cor1);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
}

.EsqueciSenha{
    font-family: var(--font1);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-top: 0.5rem;
}

.buttonCadastrar{
    margin-top: 1.5rem;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}

.Cadastrar{
    padding: 7px;
    font-size: 15px;
    font-family: var(--font1);
    font-weight: 600;
    background-color: transparent;
    border: 2px solid var(--cor1);
    border-radius: 18px;
} 

.login{
    padding: 7px;
    font-size: 15px;
    font-family: var(--font1);
    font-weight: 600;
    background-color: transparent;
    border: 2px solid var(--cor1);
    border-radius: 18px;
    width: 100px;
}